@charset "utf-8";
/* CSS Document */

body {
	background-color: black;
	
}


.animation {
	
	width: 100px;
	height: 100px;
	background-color: black;
	animation-name: test;
	position: relative;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in-out;
	
}

.animation:hover {
	
	background-color: red;
	
}

@keyframes test {
	
	0%{background-color: black; left: 0px; top: 0px; scale: 1;}
	25%{background-color: purple; left: 200px; top: 0px; scale: 1;}
	50%{background-color: blue; left: 200px; top: 200px; scale: 2;}
	75%{background-color: green; left: 0px; top: 200px; scale: 1;}
	100%{background-color: black; left: 0px; top: 0px; scale: 1;}
}



